<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hola Sinatra</title>
</head>
<body>
  <% 100.times do |i| %>
   <h1>Mi primera aplicación Web con Sinatra!</h1> <!-- se mezcla código ruby en HTML -->
 <% end %>
</body>
</html>
